<?xml version="1.0" encoding="UTF-8"?>       
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- 控制台输出 -->
	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p (%C:%M) - %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<!-- 
		<filter class="org.apache.log4j.varia.LevelRangeFilter"> 
			<param name="levelMin" value="debug" /> 
			<param name="levelMax" value="warn" /> 
			<param name="AcceptOnMatch" value="true" /> 
		</filter> 
		-->
	</appender>

	<!-- window文件输出 -->
	<appender name="myFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:\\Users\\victor_chen\\Desktop\\log\\CT\\ct.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p (%C:%M) - %m%n" />
		</layout>
	</appender>
	
	<!-- linux文件输出 -->
	<appender name="myLinuxFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/ct/ct.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p (%C:%M) - %m%n" />
		</layout>
	</appender>

	<!-- <logger name="cn.ubot" additivity="false">
		<priority value="info" />
		<appender-ref ref="myFile" />  
    </logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="myConsole" />
	</root> -->
	
	<logger name="cn.ubot" additivity="true">
		<priority value="debug" />
    </logger>

	<root>
		<priority value="info" />
		<appender-ref ref="myConsole" />
		<!-- <appender-ref ref="myFile" /> -->
		<appender-ref ref="myLinuxFile" />
	</root>
	
	
	
</log4j:configuration>  