<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
   			 http://www.springframework.org/schema/aop 
  	 		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
    		http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd  
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
            http://www.springframework.org/schema/util 
            http://www.springframework.org/schema/util/spring-util-3.0.xsd
            ">

    <!-- 开启注解 -->
    <mvc:annotation-driven />
    
    <!-- 让spring扫描这个包下所有的类，让标注spring注解的类生效 -->
    <context:component-scan base-package="cn.ubot.controller"></context:component-scan>
    
    <!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:resource/*.properties" />

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp"></property>
    </bean>
    
    <!-- 配置静态资源访问 -->
	<mvc:resources location="/statics/" mapping="/statics/**" />
	
	<!--启用shiro注解 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- 控制器异常处理 -->
	<bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"></bean>
	<bean class="cn.ubot.exception.DefaultExceptionHandler" />
	
	<!-- <bean id="AopService" class="cn.ubot.service.AopServiceImpl" />
    <aop:config>
        <aop:aspect id="aopService" ref="AopService">
            <aop:pointcut id="addAllMethod" expression="execution(* cn.ubot.controller.*.*(..))" />
            <aop:before method="logInsert" pointcut-ref="addAllMethod" />
            <aop:after method="logInsert" pointcut-ref="addAllMethod" />
        </aop:aspect>
    </aop:config> -->
	
	<!-- 拦截器配置 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			拦截请求
			<mvc:mapping path="/invoice/**"/>
			<bean class="cn.ubot.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
</beans>